.footer{
    height: 140px;
    background-color: getColor(red,6);
    padding:15px;
    .footer-social{
        .footer-icon{
            padding:8px;
            a[class *= "icon"]{
                font-size: 30px;
                color: getColor(red,6);
                padding: 15px;
                background-color: white;
                border-radius: 50%;
                margin:0;
            } 
            .icon-facebook{
                
            }
            .icon-instagram{
                
            }
            .icon-linkedin{
                
            }
        }
    }
}