@import 'jk.scss'; //contiene framework JK y fuentes descargadas
@import 'reset/reset.scss'; //resetea todos los estilos
@import 'icomoon/icomoon.scss'; //fuentes de iconos

// scss globales
@import 'navbar.scss';
@import 'footer.scss';

// FUENTES DISPONIBLES: 'BebasNeue', 'Open Sans Condensed'

// Estilos globales
html,body{
    font-family: Arial, Helvetica, sans-serif;
}
section{
    margin:10px 0;
    @media screen and (min-width:getBreakpoint(m) ){
        margin: 40px 0;
    }
}

.arrow-down{
    border-top: 2.5px solid getColor(white,0);
    border-left: 2.5px solid getColor(white,0);
    top:50%;
    margin: 0 5px;
    height: 12px;
    width: 12px;
    display: inline-block;
    transition: 2s;
    transform: translateY(-20%) rotate(225deg);
    @media screen and (min-width:getBreakpoint(m) ){
        transform: translateY(-50%) rotate(225deg);
    }

}
.arrow-up{
    border-top: 2.5px solid getColor(white,0);
    border-left: 2.5px solid getColor(white,0);
    bottom:0%;
    margin: 0 5px;
    height: 12px;
    width: 12px;
    display: inline-block;
    transform: translateY(20%) rotate(45deg);
    transition: 2s;
    @media screen and (min-width:getBreakpoint(m) ){
        transform: translateY(0) rotate(45deg);
    }
}