extends ../templates/main.pug

block title
  |Agencia de marketing digital en Mendoza | IDEE NEGOCIOS

block content
  header
    include ../templates/block-navbar.pug
    section.galeria.no-padding
      #galeria.jk-container.slider-container.s-main-center.s-cross-center.no-padding.full
        .header-slider.slider.s-95.m-70
          .slide
            picture
              source(srcset="img/index/home-slider1.webp", type="image/webp")
              img(src="img/index/home-slider1.jpg", alt="SOCIAL MEDIA")
        //-     //- .text
        //-     //-   h4  SOCIAL MEDIA
        //-     //-   p SÉ PARTE <br> DEL DÍA A DÍA <br> DE TUS CLIENTES
        //-   .slide
        //-     picture
        //-       source(srcset="img/index/home-slider2.webp", type="image/webp")
        //-       img(src="img/index/home-slider2.jpg", alt="MARKETING DIGITAL")
        //-     //- .text
        //-     //-   h4 MARKETING DIGITAL
        //-     //-   p HACEMOS CRECER <br> DIGITALMENTE <br> TU NEGOCIO
        //-   .slide
        //-     picture
        //-       source(srcset="img/index/home-slider3.webp", type="image/webp")
        //-       img(src="img/index/home-slider3.jpg", alt="DESAROLLO WEB")
        //-     //- .text
        //-     //-   h4 DESAROLLO WEB
        //-     //-   p TU WEB <br> ES TU VIDRIERA <br> AL MUNDO
        //-   .slide
        //-     picture
        //-       source(srcset="img/index/home-slider4.webp", type="image/webp")
        //-       img(src="img/index/home-slider4.jpg", alt="PUBLICIDAD")
        //-     //- .text
        //-     //-   h4 PUBLICIDAD
        //-     //-   p LO QUE TENGAS QUE <br> OFRECER, MOSTRALO <br> EN GOOGLE 
        //-   .slide
        //-     picture
        //-       source(srcset="img/index/home-slider5.webp", type="image/webp")
        //-       img(src="img/index/home-slider5.jpg", alt="SISTEMAS")
        //-     //- .text
        //-     //-   h4 SISTEMAS
        //-     //-   p PERSONALIZÁ <br> TU SISTEMA <br> DE GESTIÓN
        //-   .slide
        //-     picture
        //-       source(srcset="img/index/home-slider6.webp", type="image/webp")
        //-       img(src="img/index/home-slider6.jpg", alt="DISEÑO GRÁFICO")
        //-     //- .text
        //-     //-   h4 DISEÑO GRÁFICO
        //-     //-   p NUESTRO <br> DIFERENCIAL <br> ES LA CREATIVIDAD
        //- //- span.icon-circle-left.slidesjs-previous.slidesjs-navigation
        //- //- span.icon-play.slidesjs-next.slidesjs-navigation  
  main
    section.cliente-container
      .jk-container.cliente.s-main-center.full
        .jk-item.title.s-100.s-main-center
          h1.s-100 AGENCIA DE MARKETING DIGITAL EN MENDOZA.
          br
          h2.s-100 EN LA ERA DIGITAL SER EL PRIMERO ES SOLO UNA DECISION. ADAPTA TU NEGOCIO AL COMERCIO ONLINE. 
        .jk-item.s-50.no-padding.box#divEmpresa
          img(src="img/index/home-cliente1.jpg", alt="empresa")
          h4#empresa TENGO UNA <br class='m-hide l-hide'> EMPRESA
        .jk-item.s-50.no-padding.box#divEmprendedor
          img(src="img/index/home-cliente2.jpg", alt="emprendedor")
          h4#emprendedor SOY <br class='m-hide l-hide'> EMPRENDEDOR
        .jk-item.s-100.cliente-description.s-main-center.s-cross-start#clienteDescriptionEmpresa
          p.title-description.s-100 ¿YA TENÉS UNA EMPRESA?
          .jk-item.s-100.s-main-center
            p#clienteDescriptionP.s-100.m-80.l-60 INVERTÍ EN NUESTRO EQUIPO DE PROFESIONALES EN MARKETING, DISEÑO, PROGRAMACIÓN Y TERCERIZÁ TU DEPARTAMENTO DE COMERCIO DIGITAL POR EL VALOR EQUIVALENTE A UN SALARIO MÍNIMO MENSUAL.
          .jk-item.s-100.s-main-center.s-cross-start
            a(href="#contacto").s-80.m-40.l-35.scroll-contacto COORDINEMOS UNA REUNIÓN
            a(href="https://presupuestador.ideenegocios.com.ar" target="blank").s-80.m-40.l-35 ARMÁ TU PRESUPUESTO ONLINE
        .jk-item.s-100.cliente-description.s-main-center.s-cross-start#clienteDescriptionEmprendedor
          p.title-description.s-100 ¿TENÉS UNA IDEA DE NEGOCIO?
          .jk-item.s-100.s-main-center
            p#clienteDescriptionP.s-100.m-80.l-60 LO PRIMERO QUE DEBES HACER ES PLANIFICAR. AJUSTAMOS TU PRESUPUESTO CON IDEAS CREATIVAS PARA HACER CRECER TU PROYECTO CON BASES SOLIDAS DE MARKETING ESTRATEGICO APROVECHANDO EL MEDIO DIGITAL PARA LOGRAR TU INDEPENDENCIA FINANCIERA Y EL CREMIENTO DE TU NEGOCIO.
          .jk-item.s-100.s-main-center.s-cross-start
            a(href="#contacto").s-80.m-40.l-35.scroll-contacto COORDINEMOS UNA REUNIÓN
            a(href="https://presupuestador.ideenegocios.com.ar" target="blank").s-80.m-40.l-35 ARMÁ TU PRESUPUESTO ONLINE
          
    
    #presupuestador
    section.pedi-presupuesto-container
      .jk-container.pedi-presupuesto.s-main-center
        h3.jk-item.s-100 PRESUPUESTADOR ONLINE
        p.jk-item.s-100 INGRESA Y ARMA TU PRESUPUESTO ONLINE
        .jk-item.s-100
          a(href="https://presupuestador.ideenegocios.com.ar" target="blank").s-80.m-40.l-35 ARMÁ TU PRESUPUESTO ONLINE
    
    section.agencia-marketing-container
      .jk-container.agencia-marketing.s-main-center
        h4.jk-items.s-100.m-75.l-55 ESTAMOS LISTOS PARA SER TU AGENCIA DE MARKETING DIGITAL
        p.jk-items.s-100 TERCERIZÁ COMPLETAMENTE TU DEPARTAMENTO DE MARKETING, DISEÑO, REDES SOCIALES,<br class="m-hide s-hide"> SISTEMAS Y DESARROLLO WEB, APROVECHANDO  LOS MEDIOS DIGITALES Y JUNTOS POSICIONAMOS <br class="m-hide s-hide"> TU MARCA DE MANERA  CREATIVA. DEJÁ TODO EN NUESTRAS MANOS, TENÉS A TU DISPOSICIÓN UN EQUIPO DE <br class="m-hide s-hide"> PROFESIONALES EXPERTOS FULL TIME. VAS A SENTIR QUE NUESTRA OFICINA ESTÁ AL LADO DE LA TUYA.<br> <span>SÉ PARTE DE IDEE Y CREZCAMOS JUNTOS.</span>

    #que-hacemos
    section.que-hacemos-container.s-hide
      .jk-container.que-hacemos.full.s-main-space-around
        .jk-item.que-hacemos-title.s-100
          h3 SERVICIOS
        .jk-item.jk-container.box.l-30.m-33.s-90.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos1.png", alt="marketing")
          .jk-item.title.s-100.s-main-center
            h4 MARKETING
          .jk-item.description.s-100.s-main-center
            p PLANIFICAMOS, EJECUTAMOS Y OPTIMIZAMOS ESTRATEGIAS DE MARKETING OMNICANALES QUE ASEGURAN UNA COMUNICACIÓN EFECTIVA. <br> <strong>¿TUS CLIENTES HABLAN DE VOS? </strong>
        .jk-item.jk-container.box.l-30.m-33.s-90.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos2.png", alt="diseño")
          .jk-item.title.s-100.s-main-center
            h4 DISEÑO
          .jk-item.description.s-100.s-main-center
            p LA PRIMERA IMPRESIÓN ES FUNDAMENTAL POR ESO DESARROLLAMOS TU IDENTIDAD DE FORMA CLARA Y COHERENTE PARA POSICIONARTE EN TODOS LOS MEDIOS.<br> <strong> ¿ESTÁS DANDO UNA BUENA PRIMERA IMPRESIÓN? </strong>
        .jk-item.jk-container.box.l-30.m-33.s-90.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos3.png", alt="desarollo web")
          .jk-item.title.s-100.s-main-center
            h4 DESARROLLO WEB
          .jk-item.description.s-100.s-main-center
            p LA WEB ES TU PUERTA AL MUNDO. TRABAJAMOS TU SITIO WEB DESDE LA ANALÍTICA, DISEÑO Y PROGRAMACIÓN PARA POSICIONARTE Y ATRAER CLIENTES POTENCIALES.<br> <strong> ¿TODAVÍA SIN PÁGINA WEB? </strong>
      .jk-container.que-hacemos.full.s-main-space-around   
        .jk-item.jk-container.box.l-30.m-33.s-90.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos4.png", alt="sistemas")
          .jk-item.title.s-100.s-main-center
            h4 SISTEMAS
          .jk-item.description.s-100.s-main-center
            p CREAMOS SISTEMAS PERSONALIZADOS E INTUITIVOS QUE SE AJUSTAN A TU NECESIDAD MEJORANDO TUS PROCESOS INTERNOS. <br> <strong> ¿QUÉ SISTEMA NECESITÁS? </strong>
        .jk-item.jk-container.box.l-30.m-33.s-90.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos5.png", alt="social media")
          .jk-item.title.s-100.s-main-center
            h4 SOCIAL MEDIA
          .jk-item.description.s-100.s-main-center
            p LAS REDES SOCIALES PERMITEN COMUNICARTE CON TUS CLIENTES, OBTENÉ INFORMACIÓN MUY VALIOSA Y POTENCIA LA EXPERIENCIA CON TU MARCA. <br> <strong>¿INTERACTÚAS CON TUS CLIENTES? </strong>
        .jk-item.jk-container.box.l-30.m-33.s-90.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos6.png", alt="publicidad")
          .jk-item.title.s-100.s-main-center
            h4 PUBLICIDAD
          .jk-item.description.s-100.s-main-center
            p CREAMOS CAMPAÑAS PUBLICITARIAS PARA ESTAR EN EL LUGAR Y MOMENTO EXACTO CUANDO TU CLIENTE POTENCIAL BUSCA LO QUE OFRECES <br> <strong> ¿CUÁL ES TU PRESENCIA?  </strong>
    
    section.que-hacemos-container.m-hide.l-hide
      .jk-container.que-hacemos.s-main-center 
        .jk-item.que-hacemos-title.no-padding
          h3 SERVICIOS
      .que-hacemos-slider.que-hacemos.jk-container
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos1.png", alt="marketing")
          .jk-item.title.s-100.s-main-center
            h4 MARKETING
          .jk-item.description.s-100.s-main-center
            p PLANIFICAMOS, EJECUTAMOS Y OPTIMIZAMOS ESTRATEGIAS DE MARKETING OMNICANALES QUE ASEGURAN UNA COMUNICACIÓN EFECTIVA. <br> <strong>¿TUS CLIENTES HABLAN DE VOS? </strong>
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos2.png", alt="diseño")
          .jk-item.title.s-100.s-main-center
            h4 DISEÑO
          .jk-item.description.s-100.s-main-center
            p LA PRIMERA IMPRESIÓN ES FUNDAMENTAL POR ESO DESARROLLAMOS TU IDENTIDAD DE FORMA CLARA Y COHERENTE PARA POSICIONARTE EN TODOS LOS MEDIOS.<br> <strong> ¿ESTÁS DANDO UNA BUENA PRIMERA IMPRESIÓN? </strong>
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos3.png", alt="desarollo web")
          .jk-item.title.s-100.s-main-center
            h4 DESARROLLO WEB
          .jk-item.description.s-100.s-main-center
            p LA WEB ES TU PUERTA AL MUNDO. TRABAJAMOS TU SITIO WEB DESDE LA ANALÍTICA, DISEÑO Y PROGRAMACIÓN PARA POSICIONARTE Y ATRAER CLIENTES POTENCIALES.<br> <strong> ¿TODAVÍA SIN PÁGINA WEB? </strong>
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos4.png", alt="sistemas")
          .jk-item.title.s-100.s-main-center
            h4 SISTEMAS
          .jk-item.description.s-100.s-main-center
            p CREAMOS SISTEMAS PERSONALIZADOS E INTUITIVOS QUE SE AJUSTAN A TU NECESIDAD MEJORANDO TUS PROCESOS INTERNOS. <br> <strong> ¿QUÉ SISTEMA NECESITÁS? </strong>
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos5.png", alt="social media")
          .jk-item.title.s-100.s-main-center
            h4 SOCIAL MEDIA
          .jk-item.description.s-100.s-main-center
            p LAS REDES SOCIALES PERMITEN COMUNICARTE CON TUS CLIENTES, OBTENÉ INFORMACIÓN MUY VALIOSA Y POTENCIA LA EXPERIENCIA CON TU MARCA. <br> <strong>¿INTERACTÚAS CON TUS CLIENTES? </strong>
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start
          .jk-item.img.s-100.s-main-center
            img(src="img/index/home-que-hacemos6.png", alt="publicidad")
          .jk-item.title.s-100.s-main-center
            h4 PUBLICIDAD
          .jk-item.description.s-100.s-main-center
            p CREAMOS CAMPAÑAS PUBLICITARIAS PARA ESTAR EN EL LUGAR Y MOMENTO EXACTO CUANDO TU CLIENTE POTENCIAL BUSCA LO QUE OFRECES <br> <strong> ¿CUÁL ES TU PRESENCIA?  </strong>
            
    #como-hacemos
    section.como-hacemos-container.s-hide
      .jk-container.como-hacemos.s-main-space-around.full
        .jk-item.como-hacemos-title.s-100
          h3 PROCESOS
        .jk-item.jk-container.box.s-main-center.s-cross-start.l-10.m-30
          .jk-item.number.s-100.s-main-center
            p 1
          .jk-item.title.s-100.s-main-center
            h4 INVESTIGACIÓN
          .jk-item.description.s-100.s-main-center
            p REALIZAMOS ANÁLISIS DE MERCADO PARA CONOCER EN DETALLE A QUE NOS ENFRENTAMOS.
        .jk-item.img
          img(src="img/index/home-como-hacemos-separator.png", alt="")
        .jk-item.jk-container.box.s-main-center.s-cross-start.l-10.m-30
          .jk-item.number.s-100.s-main-center
            p 2
          .jk-item.title.s-100.s-main-center
            h4 PLANIFICACIÓN
          .jk-item.description.s-100.s-main-center
            p DEFINIMOS PLANES DE MARKETING ESTRATÉGICOS FUNDAMENTADOS Y OBJETIVOS ESPECIFICOS
        .jk-item.img
          img(src="img/index/home-como-hacemos-separator.png", alt="")
        .jk-item.jk-container.box.s-main-center.s-cross-start.l-10.m-30
          .jk-item.number.s-100.s-main-center
            p 3
          .jk-item.title.s-100.s-main-center
            h4 DISEÑO
          .jk-item.description.s-100.s-main-center
            p PLASMAMOS EL CONCEPTO EN LA COMUNICACIÓN Y EL DISEÑO
        .jk-item.img
          img(src="img/index/home-como-hacemos-separator.png", alt="")
        .jk-item.jk-container.box.s-main-center.s-cross-start.l-10.m-30
          .jk-item.number.s-100.s-main-center
            p 4
          .jk-item.title.s-100.s-main-center
            h4 DESAROLLO
          .jk-item.description.s-100.s-main-center
            p SE COMIENZA A EJECUTAR LA PLANIFICACION ESTRATÉGICA.
        .jk-item.img
          img(src="img/index/home-como-hacemos-separator.png", alt="")
        .jk-item.jk-container.box.s-main-center.s-cross-start.l-10.m-30
          .jk-item.number.s-100.s-main-center
            p 5
          .jk-item.title.s-100.s-main-center
            h4 MONITORIZACIÓN
          .jk-item.description.s-100.s-main-center
            p SE COMIENZA A MONITOREAR Y ANALIZAR VARIABLES ESPECIFICAS
        .jk-item.img
          img(src="img/index/home-como-hacemos-separator.png", alt="")
        .jk-item.jk-container.box.s-main-center.s-cross-start.l-10.m-30
          .jk-item.number.s-100.s-main-center
            p 6
          .jk-item.title.s-100.s-main-center
            h4 OPTIMIZACIÓN
          .jk-item.description.s-100.s-main-center
            p OPTIMIZAMOS LA ESTRATEGIA EN FUNCIÓN DE LOS RESULTADOS

    section.como-hacemos-container.m-hide.l-hide
      .jk-container.como-hacemos.s-main-center
        .jk-item.como-hacemos-title.s-100.no-padding
          h3 PROCESOS
      .jk-container.como-hacemos.como-hacemos-slider.s-main-center
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start.l-10.m-30.s-90
          .jk-item.number.s-100.s-main-center
            p 1
          .jk-item.title.s-100.s-main-center
            h4 INVESTIGACIÓN
          .jk-item.description.s-100.s-main-center
            p REALIZAMOS ANÁLISIS DE MERCADO PARA CONOCER EN DETALLE A QUE NOS ENFRENTAMOS.
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start.l-10.m-30.s-90
          .jk-item.number.s-100.s-main-center
            p 2
          .jk-item.title.s-100.s-main-center
            h4 PLANIFICACIÓN
          .jk-item.description.s-100.s-main-center
            p DEFINIMOS PLANES DE MARKETING ESTRATÉGICOS FUNDAMENTADOS Y OBJETIVOS ESPECIFICOS
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start.l-10.m-30.s-90
          .jk-item.number.s-100.s-main-center
            p 3
          .jk-item.title.s-100.s-main-center
            h4 DISEÑO
          .jk-item.description.s-100.s-main-center
            p PLASMAMOS EL CONCEPTO EN LA COMUNICACIÓN Y EL DISEÑO
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start.l-10.m-30.s-90
          .jk-item.number.s-100.s-main-center
            p 4
          .jk-item.title.s-100.s-main-center
            h4 DESAROLLO
          .jk-item.description.s-100.s-main-center
            p SE COMIENZA A EJECUTAR LA PLANIFICACION ESTRATÉGICA.
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start.l-10.m-30.s-90
          .jk-item.number.s-100.s-main-center
            p 5
          .jk-item.title.s-100.s-main-center
            h4 MONITORIZACIÓN
          .jk-item.description.s-100.s-main-center
            p SE COMIENZA A MONITOREAR Y ANALIZAR VARIABLES ESPECIFICAS
        .jk-item.jk-container.box.slide.s-main-center.s-cross-start.l-10.m-30.s-90
          .jk-item.number.s-100.s-main-center
            p 6
          .jk-item.title.s-100.s-main-center
            h4 OPTIMIZACIÓN
          .jk-item.description.s-100.s-main-center
            p OPTIMIZAMOS LA ESTRATEGIA EN FUNCIÓN DE LOS RESULTADOS
    
      
    #nuestros-proyectos
    section.proyectos-container.s-flex-center
      .proyectos.jk-container.full.s-flex-center
        .jk-item.proyectos-title.s-100
          h3 CASOS DE EXITO
        .jk-item.box.s-50.m-30.s-flex-center.proyecto-ceco
          .jk-item.box-img.s-flex-center
            img(src="img/index/portfolio-ceco.jpg", alt="ceco")
            .jk-item.box-img-title
              img(src="img/index/portfolio-ceco1.png", alt="ceco titulo")
        .jk-item.box.s-50.m-30.s-flex-center.proyecto-efecto-web
          .jk-item.box-img.s-flex-center
            img(src="img/index/portfolio-efecto-web.jpg", alt="efecto web")
            .jk-item.box-img-title
              img(src="img/index/portfolio-efecto-web1.png", alt="efecto web titulo")
        .jk-item.box.s-50.m-30.s-flex-center.proyecto-john-jarana
          .jk-item.box-img.s-flex-center
            img(src="img/index/portfolio-john-jarana.jpg", alt="john jarana")
            .jk-item.box-img-title
              img(src="img/index/portfolio-john-jarana1.png", alt="jonh jarana titulo")
        .jk-item.box.s-50.m-30.s-flex-center.proyecto-sushibox
          .jk-item.box-img.s-flex-center
            img(src="img/index/portfolio-sushibox.jpg", alt="sushibox")
            .jk-item.box-img-title
              img(src="img/index/portfolio-sushibox1.png", alt="sushibox titulo")
        .jk-item.box.s-50.m-30.s-flex-center.proyecto-drinking
          .jk-item.box-img.s-flex-center
            img(src="img/index/portfolio-drinking.jpg", alt="drinking")
            .jk-item.box-img-title
              img(src="img/index/portfolio-drinking1.png", alt="driking titulo")
        .jk-item.box.s-50.m-30.s-flex-center.proyecto-gustavo-arenas
          .jk-item.box-img.s-flex-center
            img(src="img/index/portfolio-gustavo-arenas.jpg", alt="gustavo arenas")
            .jk-item.box-img-title
              img(src="img/index/portfolio-gustavo-arenas1.png", alt="gustavo arenas titulo")

      .proyectos-description.s-flex-center.hide
        .jk-container.box-description-container.box-ceco.hide
          .jk-item.box-description.s-main-center
            .jk-item.box-description-img.proyecto-box-img-ceco.s-100
              img.proyecto-img-ceco(src="img/index/portfolio-ceco-description.jpg", alt="")
            .jk-item.box-description-text.proyecto-box-text-ceco.s-main-center.l-main-start.s-cross-start.s-order--1.l-order-0.s-100
              p.s-100.title CE.CO
              p.s-100.subtitle ARQUITECTURA Y CONSTRUCIÓN
              p.l-100.subtitle2 MARKETING
              p.l-100.description.hide.s-hide.m-hide Desarrollamos un plan de marketing desde cero, y logramos crear un concepto de marca efectivo.
              p.l-100.subtitle2 IDENTIDAD
              p.l-100.description.hide.s-hide.m-hide Creamos el logo y el manual de marca que logro tangibilizar el concepto definido en el plan de marketing.
              p.l-100.subtitle2 WEB
              p.l-100.description.hide.s-hide.m-hide Logramos pocicionar la web entre las primeras posiciones de google, y logramos que los usuarios tengan una buena experiencia al usarla.
              p.l-100.subtitle2 REDES SOCIALES
              p.l-100.description.hide.s-hide.m-hide Conseguimos generar consultas en tiempo real y diseñar campañas publicitarias efectivas.
              p.l-100.subtitle2 ESTADÍSTICAS
              p.l-100.description.hide.s-hide.m-hide Llegamos a un porcentaje muy alto del mercado local y poscionamos la marca correctamente.

              

    
    #contacto
    section.contactanos-container
      .contactanos.jk-container.full
        .jk-item.contactanos-title.s-100
          h3 CONTACTANOS
        .jk-item.text.s-100
          p IDEENEGOCIOS@GMAIL.COM
          P (261) 307 2398
        .jk-item.s-100.s-main-center
          include ../templates/block-form.pug
    .modal-container.hide
  include ../templates/block-footer.pug
