nav.navbar.full.s-main-space-around
  .navbar-item.s-35
      a(href="").navbar-logo
          img(src="", alt="")
  .navbar-item.s-65
      ul.navbar-menu.s-main-space-around.s-100
          li PEDÍ TU PRESUPUESTO    
          li ¿QUÉ HACEMOS?
          li ¿CÓMO LO HACEMOS?
          li NUESTROS PROYECTOS
          li CONTACTO
