nav.navbar.full.s-main-space-around.s-cross-center
  .navbar-item.s-60.l-30.s-cross-center
      a(href="#galeria").navbar-logo
          img(src="img/logo-header.png", alt="")
  .navbar-item.l-70.s-hide.m-hide
      ul.navbar-menu.s-main-space-around.s-100
          li.scroll-presupuestador
            a(href="#presupuestador") PRESUPUESTADOR ONLINE    
          li.scroll-que-hacemos
            a(href="#que-hacemos") ¿QUÉ HACEMOS?
          li.scroll-como-hacemos
            a(href="#como-hacemos") ¿CÓMO LO HACEMOS?
          li.scroll-nuestros-proyectos
            a(href="#nuestros-proyectos") NUESTROS PROYECTOS
          li.scroll-contacto
            a(href="#contacto") CONTACTO
  .navbar-item.s-40.l-70.s-main-end.s-cross-center
    .navbar-toggle.l-hide
      span
      span
      span
        
aside.navbar-aside-container
  div.navbar-aside
    div.navbar-aside-item
      a(href="#galeria").navbar-aside-logo
        img(src='/img/logo.png' alt="idee - empresa de marketing")
    ul.navbar-aside-menu
      li.scroll-presupuestador
        a(href="#presupuestador") PRESUPUESTADOR ONLINE  
      li.scroll-que-hacemos
        a(href="#que-hacemos") ¿QUÉ HACEMOS?
      li.scroll-como-hacemos
        a(href="#como-hacemos") ¿CÓMO LO HACEMOS?
      li.scroll-nuestros-proyectos
        a(href="#nuestros-proyectos")  NUESTROS PROYECTOS
      li.scroll-contacto
        a(href="#contacto") CONTACTO
    hr.navbar-list-divider
    div.navbar-aside-item
      a(href="https://www.facebook.com/ideenegocios").icon-facebook.navbar-aside-icon
      a(href="https://www.instagram.com/ideenegocios/").icon-instagram.navbar-aside-icon
      //- a(href="#").icon-linkedin.navbar-aside-icon