footer
    .footer.jk-container.full.s-main-space-between.s-cross-center
        .jk-item.footer-logo.s-50
            //- img(src="", alt="")
        .jk-item.jk-container.footer-social.s-50.s-main-end.s-cross-center
            .jk-item.footer-icon
                a(href="").icon-facebook
            .jk-item.footer-icon
                a(href="").icon-linkedin 
            .jk-item.footer-icon
                a(href="").icon-instagram  
