nav.navbar.full.s-main-space-around
  .navbar-item.s-30
      a(href="").navbar-logo
          img(src="", alt="")
  .navbar-item.l-70.s-hide.m-hide
      ul.navbar-menu.s-main-space-around.s-100
          li
            a(href="#") PEDÍ TU PRESUPUESTO    
          li
            a(href="#que-hacemos") ¿QUÉ HACEMOS?
          li
            a(href="#como-hacemos") ¿CÓMO LO HACEMOS?
          li
            a(href="#") NUESTROS PROYECTOS
          li
            a(href="#contacto") CONTACTO
  .navbar-item.s-70.s-main-end.s-cross-center
    .navbar-toggle.l-hide
      span
      span
      span
      
aside.navbar-aside-container
  div.navbar-aside
    div.navbar-aside-item
      a(href="/index.html").navbar-aside-logo
        img(src='' alt="")
    ul.navbar-aside-menu
      li
        a(href="#") PEDÍ TU PRESUPUESTO  
      li
        a(href="#que-hacemos") ¿QUÉ HACEMOS?
      li
        a(href="#como-hacemos") ¿CÓMO LO HACEMOS?
      li
        a(href="#")  NUESTROS PROYECTOS
      li
        a(href="#contacto") CONTACTO
    hr.navbar-list-divider
    div.navbar-aside-item
      a(href="#").icon-facebook.navbar-aside-icon
      a(href="#").icon-instagram.navbar-aside-icon
      a(href="#").icon-linkedin.navbar-aside-icon