.navbar{
    transition: .7s;
    z-index: 10;
    min-height: 70px;
    width: 100%;
    padding: 10px;
    

    ul{
      font-family: 'Open Sans Condensed', sans-serif;
      z-index: 10;
      list-style: none;
      margin:0;
      padding:0;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      .active{
        a{
          
        }
      }
    }

    a{
      display: block;
    }

    li{
      font-size: 16px;
      margin: 0 10px;
      padding: 10px;
      
      &:hover{
        
        transition: .2s;
        &>a{

          transition:  .2s;
        }
      }

    }
    .navbar-menu>li>a{
        padding-left: 8px;
        padding-right: 8px;
      }
    }
    .navbar,.navbar-item,.navbar-menu{
      display: flex;
    }
    .navbar-item{
      flex-shrink: 0;
      padding-left: $gutter / 2;
      padding-right: $gutter / 2;
    }
    .navbar-logo{
      z-index: 10;
    }
