@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon/icomoon.eot?9d3cgz');
    src:  url('fonts/icomoon/icomoon.eot?9d3cgz#iefix') format('embedded-opentype'),
      url('fonts/icomoon/icomoon.ttf?9d3cgz') format('truetype'),
      url('fonts/icomoon/icomoon.woff?9d3cgz') format('woff'),
      url('fonts/icomoon/icomoon.svg?9d3cgz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-phone:before {
    content: "\e942";
  }
  .icon-location:before {
    content: "\e947";
  }
  .icon-search:before {
    content: "\e986";
  }
  .icon-play:before {
    content: "\ea1c";
  }
  .icon-pause:before {
    content: "\ea1d";
  }
  .icon-arrow-up:before {
    content: "\ea32";
  }
  .icon-circle-right:before {
    content: "\ea42";
  }
  .icon-circle-left:before {
    content: "\ea44";
  }
  .icon-mail:before {
    content: "\ea85";
  }
  .icon-facebook:before {
    content: "\ea90";
  }
  .icon-facebook1:before {
    content: "\ea91";
  }
  .icon-instagram:before {
    content: "\ea92";
  }
  .icon-whatsapp:before {
    content: "\ea93";
  }
  .icon-spotify:before {
    content: "\ea94";
  }
  .icon-twitter:before {
    content: "\ea96";
  }
  