@import "jk/_jk-colors.scss"; // paleta de colores
@import "jk/_jk-funtions.scss"; // funciones

// Breakpoints
  $breakpoints : (
  s : em(0px),
  m : em(600px),
  l : em(1020px),
  // xl: em(1440px)
  ) !default;

// Ancho máximo para los contenedores
  $max-width : 1200px !default;

// Seperación horizontal entre items (*2)
  $gutter : em(15px) !default;

// JK-helpers
  $helpers : true !default;      // .padding- .padding-top- .padding-bottom- .no-padding .circle .center
  $flex-helpers : true !default; // .-main- .-cross-
  $visibility: true !default;    // .-hide
  $sticky: false !default;       // .sticky-footer

//FUENTES
@font-face {
  font-family: "BebasNeue";
  src: url(../fonts/BebasNeue.otf);
}


@import "jk/_jk-base.scss";         // estilos base
@import "jk/_jk-core.scss";         // estilos core
@import "jk/_jk-helpers.scss";      // JK-helpers
@import "jk/_jk-visibility.scss";   // visibilidad
@import "jk/_jk-animation.scss";    // animation

@import "jk/_jk-navbar.scss";       // navbar
@import "jk/_jk-slider.scss";       // slider